#main-area > div {
  margin: 0.5rem 0;
}

.your-account {
  display: grid;
  grid-template-columns: 7rem auto;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.your-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 7rem;
  height: 7rem;
}
.your-icon img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
}
.your-icon .fallback-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #303030, #c0c0c0);
}
.your-names {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.your-display-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.profile-loading {
  color: gray;
}
.your-info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 0.8rem;
}
.your-info > div {
  margin: 0.2rem 0;
}
.connection-status {
  min-height: 1.5rem;
}
.event-relays-info {
  opacity: 0.6;
}
.event-relays-list {
  font-size: 0.8rem;
  word-break: break-all;
}
.event-froms {
  font-size: 0.8rem;
  word-break: break-all;
}
.dialog-relays {
  width: min(calc(100vw - 2rem + 2px), 502px);
  height: min(calc(95vh - 2rem + 2px), 702px);
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0;
}
.dialog-relays::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-relays > div {
  width: min(calc(100vw - 2rem), 500px);
  height: min(calc(95vh - 2rem), 700px);
  padding: 1rem;
}

.dialog-relays > div > div {
  width: min(calc(100vw - 4rem), calc(500px - 2rem));
  height: min(calc(95vh - 4rem), calc(700px - 2rem));
  overflow-y: scroll;
}

.dialog-header {
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.dialog-header > button {
  padding: 0.25rem 0.75rem;
}

.dialog-relays textarea {
  width: calc(100% - 2rem);
  margin: 0.1rem 0.25rem;
  height: 8rem;
}

.relays-input {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.relays-list {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem 5rem;
  align-items: center;
}

.relays-list-header {
  font-size: 0.7rem;
  text-align: center;
}

.relays-list > div {
  min-height: 2rem;
}

.relays-list-read,
.relays-list-write,
.relays-list-delete {
  text-align: center;
}

.relays-list-read label,
.relays-list-write label {
  display: block;
  width: 100%;
  height: 2rem;
}

.relays-list-read,
.relays-list-write {
  -webkit-user-select: none;
  user-select: none;
}
