#sign-in-area {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}
#sign-in-area > div {
  margin: 0.5rem 0;
}

#login-mode-selector {
  display: flex;
  flex-direction: row;
  margin: 0.1rem 0 0.5rem;
  width: max-content;
}

#login-mode-selector > * {
  margin-right: 0.5rem;
}

#login-mode-selector > label {
  display: inline-block;
}
