:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

button,
input {
  line-height: 1.5;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

code {
  word-break: break-all;
  background-color: rgba(128, 128, 128, 0.15);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

h1 {
  font-size: 1.9rem;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #222;
    color: #eee;
    color-scheme: dark;
  }
  a:link {
    color: #77e;
  }
  a:visited {
    color: #e7e;
  }
}
