:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input {
  line-height: 1.5;
}

code {
  word-break: break-all;
  background-color: rgba(128, 128, 128, 0.15);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

h1 {
  font-size: 1.9rem;
  font-weight: bold;
}
